---
import { actions } from "astro:actions";
import invariant from "@/invariant";
import { SospesoDetail } from "@/components/SospesoDetail";
import Layout from "@/layouts/Layout.astro";

const { sospesoId } = Astro.params;

// TODO: 404 페이지 정채
invariant(sospesoId, "404 NOT FOUND");

const { data } = await actions.retrieveSospesoDetail({ sospesoId });
---

<Layout title="소스페소 상세">
  <div>
    {data && <SospesoDetail sospeso={data} />}
  </div>
</Layout>
