---
import invariant from "@/invariant.ts";
import { SospesoDetail } from "@/components/SospesoDetail.tsx";
import Layout from "@/layouts/Layout.astro";
import { sospesoRepo } from "@/actions/actions.ts";

const { sospesoId } = Astro.params;

invariant(sospesoId, "404 NOT FOUND");

const sospeso = await sospesoRepo.retrieveSospesoDetail(sospesoId);

if (!sospeso) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title="소스페소 상세">
  <div>
    <SospesoDetail sospeso={sospeso} client:load />
  </div>
</Layout>
