---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="코칭 소스페소 : 권한이 없는 페이지">
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-lg flex flex-col gap-8">
        <span class="text-8xl"> ☕ </span>
        <h1 class="text-5xl font-bold">403 권한이 없는 페이지</h1>
        <div>
          <p>잘못된 곳으로 온 것 같아요.</p>
          <p>홈으로 돌아가시려면 아래 링크를 클릭해주세요.</p>
        </div>
        <a href="/" class="btn btn-primary">홈으로 돌아가기</a>
      </div>
    </div>
  </div>
</Layout>
