---
import { paymentApi, paymentRepo } from "@/actions/actions";
import Layout from "@/layouts/Layout.astro";
import { parseRouteParamsFromUrl } from "@/routing/parseRouteParams";

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/auth/login");
}

const { paymentId } = parseRouteParamsFromUrl(
  "소스페소-결제",
  new URL(Astro.url),
);

const payment = await paymentRepo.retrievePayment(paymentId);

const { paymentLink } = await paymentApi.generatePaymentLink(payment);
---

<Layout title="소스페소 발행하기">
  {
    paymentLink && (
      <div>
        <h2>결제를 진행해주세요.</h2>{" "}
        <a class="btn btn-primary" href={paymentLink} target="_blank">
          결제 진행하기
        </a>
      </div>
    )
  }
</Layout>
