---
import { Link } from "@/routing/Link.tsx";

const session = Astro.locals.session;
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <Link className="btn btn-ghost text-xl" routeKey="홈" params={{ page: 1 }}>
      Coaching Sospeso
    </Link>
  </div>
  <div class="flex-none">
    {
      session ? (
        <button id="logout-button">
          <span class="font-bold">{session.nickname}</span> 로그아웃
        </button>
      ) : (
        <Link routeKey="로그인" params={undefined} className="btn btn-ghost">
          로그인
        </Link>
      )
    }
  </div>
</div>

<script>
  import { authApi } from "@/adapters/authApi.ts";

  document.getElementById("logout-button")?.addEventListener("click", () => {
    authApi.logout();
  });
</script>
