---
import { Link } from "@/routing/Link.tsx";

const user = Astro.locals.user;
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <Link className="btn btn-ghost text-xl" routeKey="홈" params={{ page: 1 }}>
      Coaching Sospeso
    </Link>
  </div>
  <div class="flex-none">
    {
      user ? (
        <Link routeKey="프로필" params={undefined} className="btn btn-ghost">
          프로필
        </Link>
      ) : (
        <Link routeKey="로그인" params={{}} className="btn btn-ghost">
          로그인
        </Link>
      )
    }
  </div>
</div>
