---
import { Link } from "@/routing/Link.tsx";

const user = Astro.locals.user;
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <Link className="btn btn-ghost text-xl" routeKey="홈" params={{ page: 1 }}>
      Coaching Sospeso
    </Link>
  </div>
  <div class="flex-none">
    {
      user ? (
        <button id="logout-button">
          <span class="font-bold">{user.nickname}</span> 로그아웃
        </button>
      ) : (
        <Link routeKey="로그인" params={{}} className="btn btn-ghost">
          로그인
        </Link>
      )
    }
  </div>
</div>

<script>
  import { navigate } from "astro:transitions/client";
  import { authApi } from "@/adapters/authApi.ts";
  import { href } from "@/routing/href";

  document.getElementById("logout-button")?.addEventListener("click", () => {
    authApi.logout().then(() => {
      navigate(href("로그인", {}));
    });
  });
</script>
