---
import { marked } from "marked";
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import "@/styles/markdown.css";
import { isAdmin } from '@/auth/domain';

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/auth/login");
}

if (!isAdmin(user)) {
  return Astro.redirect("/403");
}


const { data } = await getEntry("coaches", "coaches");

const html = marked.parse(data.content);

export const prerender = true;
---

<Layout title="코칭 소스페소 : 코치들 소개">
  <main class="card bg-base-100 shadow-xl p-8 m-auto max-w-xl mt-4 markdown">
    {/* eslint-disable-next-line astro/no-set-html-directive */}
    <article set:html={html} />
  </main>
</Layout>
