@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

@layer components {
  :root {
    --rounded-box: 0;
  }
  .card {
    border-radius: 0;
  }

  .btn.btn-twitter {
    color: white;
    background-color: rgb(29, 155, 240, 0.8);

    &:hover {
      background-color: rgba(29, 156, 240);
    }
  }

  .popover {
    z-index: 50;
    display: flex;
    max-height: min(var(--popover-available-height, 300px), 300px);
    flex-direction: column;
    overflow: auto;
    overscroll-behavior: contain;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(204 20% 88%);
    background-color: white;
    padding: 0.5rem;
    color: black;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .popover:focus-visible,
  .popover[data-focus-visible] {
    outline: 2px solid hsl(204 100% 40%);
    outline-offset: -1px;
  }

  .table thead tr {
    border: 2px solid black;

    @apply text-black font-bold text-base uppercase leading-4;

    th {
      @apply p-2;
    }
  }

  .table
    :where(
      thead tr,
      tbody tr:not(:last-child),
      tbody tr:first-child:last-child
    ) {
    border-bottom-color: var(
      --fallback-b3,
      oklch(var(--b3) / var(--tw-border-opacity))
    );
  }

  .select-item {
    display: flex;
    cursor: default;
    scroll-margin: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: none !important;

    transition-property: background-color, color;
    transition-duration: 0.125s;
    transition-timing-function: ease-in-out;
  }

  .select-item[aria-disabled="true"] {
    opacity: 0.5;
  }

  .select-item[data-active-item] {
    --tw-bg-opacity: 1;
    background-color: oklch(var(--p, var(--b2)) / var(--tw-bg-opacity));
    color: white;
  }

  .tooltip-content {
    max-width: 20rem;
    white-space: normal;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    width: max-content;
  }

  .label {
    padding-bottom: 0.25rem;
  }

  .input {
    transition: outline-color 0.125s ease-in-out;
    outline-color: transparent;
  }

  .input:focus,
  .input:focus-within {
    border-color: var(--fallback-p, oklch(var(--p) / 0.7));
    outline-width: 1px;
    outline-offset: 0px;
    outline-color: var(--fallback-p, oklch(var(--p) / 0.7));
  }

  a {
    text-underline-offset: 0.2em;
  }

  .text-page-title {
    @apply text-2xl font-bold;
  }

  .stamp {
    --stamp-border-width: 2px;
    position: relative;
    display: inline-block;
    color: red;
    padding: 4px 8px;
    background-color: white;
    box-shadow: inset 0px 0px 0px var(--stamp-border-width) red;
    opacity: 0.8;
    transform: rotate(-10deg);
  }

  .stamp:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
  }
}
