---
import TopNavigation from "@/components/TopNavigation.astro";
import { ViewTransitions } from "astro:transitions";
import { ToastifyToastContainer } from "@/adapters/toastApi";
import "../index.css";
import "react-toastify/dist/ReactToastify.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html data-theme="lofi" lang="ko-kr">
  <head>
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-base-200 h-screen">
    <TopNavigation />
    <slot />
    <ToastifyToastContainer
      client:load
      closeOnClick
      autoClose={5000}
      hideProgressBar={true}
      closeButton={false}
      theme="lofi"
    />
  </body>
</html>
