---
import { actions } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import { SospesoApplicationDashboard } from "@/components/SospesoApplicationDashboard";

const { data: applicationList } = await actions.retrieveSospesoApplicationList(
  {},
);

if (!applicationList) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title="소스페소 코치 페이지">
  <main class="p-8 min-h-svh">
    <SospesoApplicationDashboard
      client:load
      applicationList={applicationList}
    />
  </main>
</Layout>

<script>
  // import {
  //   sospesoApproveEventBus,
  //   sospesoRejectEventBus,
  // } from '@/components/SospesoApplicationDashboard';
  // import { actions } from 'astro:actions';

  // sospesoApproveEventBus.on(window.document.body, (command) => {
  //   actions.approve(command).then(() => {});
  // });

  // sospesoRejectEventBus.on(window.document.body, (command) => {
  //   actions.rejectSospeso(command).then(() => {});
  // });
</script>
