---
import Layout from "@/layouts/Layout.astro";
import { SospesoApplicationDashboard } from "@/components/SospesoApplicationDashboard.tsx";
import { sospesoRepo } from "@/actions/index.ts";
import { isAdmin } from '@/auth/domain.ts';

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/auth/login");
}

if (!isAdmin(user)) {
  return Astro.redirect("/403");
}

const applicationList = await sospesoRepo.retrieveApplicationList();

if (!applicationList) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title="소스페소 코치 페이지">
  <main class="p-8 min-h-svh">
    <SospesoApplicationDashboard
      client:load
      applicationList={applicationList}
    />
  </main>
</Layout>

<script>
  import {
    sospesoApproveEventBus,
    sospesoRejectEventBus,
  } from "@/components/SospesoApplicationDashboard";
  import { actions } from "astro:actions";

  sospesoApproveEventBus.on(window.document.body, (command) => {
    actions.approveSospesoApplication(command).then(() => {});
  });

  sospesoRejectEventBus.on(window.document.body, (command) => {
    actions.rejectSospesoApplication(command).then(() => {});
  });
</script>
