---
import { actions } from 'astro:actions';
import Layout from '@/layouts/Layout.astro';
import { SospesoApplicationDashboardWithActions } from '@/astro/SospesoApplicationDashboardWithActions';

const { data: applicationList } = await actions.retrieveSospesoApplicationList(
  {}
);

if (!applicationList) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<Layout title="소스페소 코치 페이지">
  <main class="p-8 min-h-svh">
    <SospesoApplicationDashboardWithActions
      client:load
      applicationList={applicationList}
    />
  </main>
</Layout>
